@font-face {
  font-family: dusha;
  src: url(../fonts/Dusha.ttf);
}

body {
  font-family: "Open Sans script = all rev=1", sans-serif;
  /* font-family: dusha; */
  background-image: url("../images/blue-wc-2018-background.jpg");
  background-size: 100%;
}

h1 {
  font-family: dusha;
  font-weight: normal;
}

.page-header {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  margin-right: 20%;
  height: 10vh;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  background: #cb0c14;
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: #e5c685;
}

.page-header img {
  float: left;
  max-height: 100%;
}

.page-header h1 {
  color: white;
}

/* Navbar */
.sticky {
  position: fixed !important;
  top: 0;
  width: 100.3%;
}

.sticky + .main-content {
  padding-top: 6.7%;
}

/*Custom Select Button*/
#select-team-button-left {
  margin-left: 5%;
}

#select-team-button-right {
  margin-right: 5%;
}
/*Custom Select Button -- end*/
.nav-select-left {
  grid-area: left-select;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

.page-links {
  width: 100%;
  grid-area: page-links;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.page-links a {
  padding: 1%;
  font-family: dusha;
  color: white;
  font-size: 1.3rem;
}

.nav-select-right {
  grid-area: right-select;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
}

nav {
  margin-left: -12px;
  margin-right: -8px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #0f4583;
  border-top-style: solid;
  border-top-width: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #e5c685;
  display: grid;
  justify-items: center;
  grid-template-columns: 35fr 30fr 35fr;
  grid-template-rows: auto;
  grid-template-areas: "left-select page-links right-select";
}

.spacing {
  height: 2em;
}

.section-card {
  background: white;
  width: 93%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: #e5c685;
  display: table;
  margin: 0 auto;
  padding-bottom: 5%;
}

/*Team statistics*/
/* Grid */
.section-title {
  text-align: center;
  grid-area: title;
  width: 35%;
  background: #cb0c14;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-style: solid;
  border-top: none;
  border-width: 4px;
  border-color: #e5c685;
  margin-bottom: 3%;
}

.section-title h1 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  color: white;
}
.left-half {
  grid-area: left-stats;
  width: 100%;
}

.right-half {
  grid-area: right-stats;
  width: 100%;
}

.section {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: 50 50;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "left-stats right-stats";
}
/* Grid --end*/

#team-logo-left {
  margin-top: 1%;
}
#team-logo-right {
  margin-top: 1%;
}

.cardgroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  min-width: 150px;
}

.card-container {
  padding-left: 16px;
  padding-right: 16px;
}

.card-title {
  font-weight: bold;
}

/*BarChart Grid*/
#team-barchart-left {
  grid-area: left-barchart;
  justify-self: end;

}

#team-barchart-axis {
  grid-area: center-axis;
}

#team-barchart-right {
  grid-area: right-barchart;
  justify-self: start;
}

.team-barchart {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  justify-items: center;
  grid-template-columns: 45fr 10fr 45fr;
  grid-template-rows: auto;
  grid-template-areas: "left-barchart center-axis right-barchart";
}
/*BarChart Grid -- end*/

/*Possession Grid*/
#possession-pie-left {
  grid-area: pie-left;
  justify-self: end;
}

#possesion-title {
  text-align: center;
  grid-area: category-title;
}

#possession-pie-right {
  grid-area: pie-right;
  justify-self: start;
}

.possession-pie {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 41fr 18fr 41fr;
  grid-template-rows: auto;
  grid-template-areas: "pie-left category-title pie-right";
}
/*Possession Grid -- end*/
/*Team statistics -- end*/

.content-centered{
  display: grid;
  justify-items: center;
  align-items: center;
}

#select-overall-team-button{
  margin-top: 1%;
  margin-bottom: 2%;
}

/*Player Table*/
.player-select{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Player Table -- end*/

/*Tournament Table*/
.link {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 1px;
}

.win {
  stroke-width: 3px !important;
}

#tournamenttree-container {
  position: relative;
  margin-left: -2%;
  margin-top: -2%; 
 
}

#labels .table {
  position: absolute;
  background-color: #0f4583;
  padding: 5px 7px 3px;
  line-height: 1.5;
  min-width: 100px;
  box-shadow: 0px 2px 2px 1px rgba(34, 34, 34, 0.1);
  color: #222222;
  border: 0px solid rgba(34, 34, 34, 0.1);
  border-radius: 10px;
}

#labels .played {
  border-width: 0px;
}

#labels .thirdplace .title {
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#labels .thirdplace .content {
  color: #222222;
  font-size: 15px;
  padding: 5px 3px 3px;
  min-width: 122px;
  text-transform: uppercase;
  background-color: #0f4583;
  line-height: 1.6;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#labels .row {
  display: table-row;
}

#labels .cell {
  padding-left: 10px;
  display: table-cell;
  text-transform: uppercase;
}

.winner {
  font-weight: bold;
}

.cell.score {
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
}

.cell.name {
  font-family: dusha;
  color: white;
  min-width: 20px;
  padding-right: 10px;
  vertical-align: middle;
}

.cell.flag {
  max-height: 20px;
  padding-top: 2px;
}
/*Tournament Table -- End*/
