body {
  font-family: "Open Sans script = all rev=1", sans-serif;
}

.page-header {
  margin: 3vh;
  height: 10vh;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.page-header img {
  float: left;
  max-height: 100%;
}

.page-header h1 {
  padding-left: 15px;
  font-size: 6vh;
}

/* Grid */
.stats-title {
  text-align: center;
  grid-area: title;
}
.left-half {
  grid-area: left-half;
}
.right-half {
  grid-area: right-half;
}

.stats {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: 25px 25px 25pxw 25px;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title"
    "left-half left-half right-half right-half";
}
/* Grid --end*/

.flag {
  height: 10vh;
}

/*Custom Select Button*/

/*Custom Select Button -- end*/

/*Team statistics*/
.team-category{
  font-weight: bold;
}

#team-barchart .domain{
  opacity: 0;
}

#team-barchart .line{
  stroke: 0;
}
/*Team statistics -- end*/

/*Tournament Table*/
.link {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 1px;
}

.win {
  stroke-width: 3px !important;
}

#container {
  position: relative;
}

#labels .table {
  position: absolute;
  background-color: #0F4583;
  padding: 5px 7px 3px;
  line-height: 1.5;
  min-width: 185px;
  box-shadow: 0px 2px 2px 1px rgba(34, 34, 34, 0.1);
  color: #222222;
  border: 0px solid rgba(34, 34, 34, 0.1);
  border-radius: 10px;
}

#labels .played {
  --border-width: 0px;
}

#labels .thirdplace .title {
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#labels .thirdplace .content {
  color: #222222;
  font-size: 15px;
  padding: 5px 3px 3px;
  text-transform: uppercase;
  background-color: #0F4583;
  min-width: 185px;
  line-height: 1.5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#labels .row  {
  display: table-row;
  }

#labels .cell {
  padding-left: 10px;
  display: table-cell;
  text-transform: uppercase;
}

.winner {
  font-weight: bold;
}

.cell.score {
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
}

.cell.name {
  color: white;
  min-width: 120px;
  padding-right: 10px;
  vertical-align: middle;
}

.cell.flag{
  max-height: 20px;
  padding-top: 2px
}
/*Tournament Table -- End*/